.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  font-size: 70px;
  color: rgb(31, 146, 184);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 25px;
}

.App footer {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: black;
}

.App a {
  color: #9ba6a5;
}
